.wrapper {
	display: flex;
	justify-self: center;
	column-gap: 12px;
	margin: 0 auto 12px;
	max-width: 952px;
}

.btn {
	min-width: 175px;
	max-height: 60px;
}

.btnIndex {
	min-width: 364px;
	max-height: 60px;
}

.wrapperCircle {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	gap: 15px;
	justify-content: center;
	margin: 116px auto 0;
}

.circle {
	display: flex;
	align-items: center;
	gap: 17px;
	position: relative;
}

.circleAdd {
	position: absolute;
	bottom: 120px;
	left: 14px;
}

.circleRemove {
	position: absolute;
	top: 120px;
	left: 10px;
}